Source: shmdata
Priority: optional
Section: libs
Build-Depends:
 automake,
 autotools-dev,
 bison,
 cdbs,
 debhelper (>= 7.0.0),
 dh-buildinfo,
 doxygen,
 libgstreamer1.0-dev,
 libgstreamer-plugins-base1.0-dev,
 python3-dev,
 libtool,
 pkg-config
Homepage: http://code.sat.qc.ca/redmine/projects/libshmdata
Standards-Version: 3.9.2
Maintainer: Nicolas Bouillot <nicolas.bouillot@gmail.com>
Vcs-Git: git://code.sat.qc.ca/libshmdata.git
Vcs-Browser: http://code.sat.qc.ca/redmine/projects/libshmdata/repository

Package: libshmdata-1.0-dev
Section: libdevel
Architecture: all
Provides: libshmdata-dev
Replaces: libshmdata-dev
Conflicts: libshmdata-dev
Suggests: libshmdata-1.0-doc
Depends: 
 libshmdata-1.0-0 (= ${binary:Version}),
 ${misc:Depends}
Description: Library to share flows of data frames between processes via shared memory. shmdata can be compared to the JACK audio connection kit project or to the VideoJack project. shmdata, however, does not provide a host server and require applications to link data streams using socket path (e.g. "/tmp/my_shmdata_stream"). Note that shmdata followers and writers can hot connect/disconnect/reconnect/... and that a shared memory supports a single writer with multiple readers.
 .
 This package contains headers, documentation and static libraries.

Package: libshmdata-1.0-0
Section: libs
Architecture: any
Suggests: libshmdata-1.0-dev
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Library to share flows of data frames between processes via shared memory. shmdata can be compared to the JACK audio connection kit project or to the VideoJack project. shmdata, however, does not provide a host server and require applications to link data streams using socket path (e.g. "/tmp/my_shmdata_stream"). Note that shmdata followers and writers can hot connect/disconnect/reconnect/... and that a shared memory supports a single writer with multiple readers.
 .
 This package contains the binary shared libraries.

Package: libshmdata-1.0-doc
Section: doc
Architecture: all
Recommends: libshmdata-1.0-dev
Depends:
 ${misc:Depends}
Description: Library to share flows of data frames between processes via shared memory. shmdata can be compared to the JACK audio connection kit project or to the VideoJack project. shmdata, however, does not provide a host server and require applications to link data streams using socket path (e.g. "/tmp/my_shmdata_stream"). Note that shmdata followers and writers can hot connect/disconnect/reconnect/... and that a shared memory supports a single writer with multiple readers.
 .
 This package contains the documentation.

